<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style="color: #29364A; font-size: 15px; line-height: 19px; font-family: 'SegoeUI',arial,sans-serif; padding: 15px 10px;">	
	<p>На сайте розового марлина забронировали тур.</p>
	<div style="font-size: 18px; padding: 2px 0 15px;">Информация о туристах</div>
	<table>
		<tr>
			<td style="padding: 10px;">Пол</td>
			<td style="padding: 10px;">Имя</td>
			<td style="padding: 10px;">Паспорт</td>
			<td style="padding: 10px;">Телефон</td>
			<td style="padding: 10px;">Email</td>
		</tr>
		<tbody>
			<%@info[:users].map{|u| u[1]}.each do |u|%>
			<tr>
				<td style="padding: 10px;"><%=u[:sex] == 'male' ? 'мужской' : 'женский'%></td>
				<td style="padding: 10px;"><%=u[:name]%></td>
				<td style="padding: 10px;"><%=u[:passport]%></td>
				<td style="padding: 10px;"><%=u[:phone]%></td>
				<td style="padding: 10px;"><%=u[:email]%></td>
			</tr>
			<%end%>
		</tbody>
	</table>
	<div style="font-size: 18px; padding: 2px 0 15px; margin-top: 20px;">Билеты на самолет</div>
	<div class="b-card_flight_data">
		<div style="float: left; position: relative; height: 75px; overflow: hidden; padding-left: 38px; margin-right: 18px;"><span style="position: absolute; left: 0; top: 12px;">Туда: </span><%=@info[:flight][:first]%></div>
		<div style="float: left; position: relative; height: 75px; overflow: hidden; padding-left: 67px;"><span style="position: absolute; left: 0; top: 12px;">Обратно: </span><%=@info[:flight][:second]%></div>
	</div>
</div>
</body>
</html>