<div class="b-calendar">
  <span class="b-calendar_week_day_caption">Примерная дата вылета</span>
  <span class="b-calendar_week_day_flight">
    <span class="b-calendar_week_day_flight_from">Москва</span>
    <br />
    <span class="b-calendar_week_day_flight_to">Доминикана</span>
  </span>
  <ul class="b-calendar_months"></ul>
  <ul class="b-calendar_week b-calendar_week_header">
    <li class="b-calendar_week_day">пн</li>
    <li class="b-calendar_week_day">вт</li>
    <li class="b-calendar_week_day">ср</li>
    <li class="b-calendar_week_day">чт</li>
    <li class="b-calendar_week_day">пт</li>
    <li class="b-calendar_week_day">сб</li>
    <li class="b-calendar_week_day">вс</li>
  </ul>
  <div class="b-i-calendar">
    <div class="b-i-i-calendar"></div>
  </div>
</div>

<h2>Лучшие предложения</h2>
<div class="b-special">
  <a href="#special1" class="b-special_item">
    <img class="b-special_item_image" src=<%=asset_path('special.jpg')%> alt="Мексика — Канкун, Отель BARCELO TUCANCUN 5 звезд" />
    <span class="b-special_item_name">Мексика — Канкун</span>
    <span class="b-special_item_stars"><i class="b-special_item_stars_5"></i></span>
    <span class="b-special_item_hotel">BARCELO TUCANCUN</span>
    <span class="b-special_item_price"><span class="b-i-special_item_price g-gradient"><span>от</span> 34 500 Р</span></span>
  </a>
  <a href="#special2" class="b-special_item">
    <img class="b-special_item_image" src=<%=asset_path('special.jpg')%> alt="Мексика — Канкун, Отель BARCELO TUCANCUN 5 звезд" />
    <span class="b-special_item_name">Мексика — Канкун</span>
    <span class="b-special_item_stars"><i class="b-special_item_stars_4"></i></span>
    <span class="b-special_item_hotel">BARCELO TUCANCUN</span>
    <span class="b-special_item_price"><span class="b-i-special_item_price g-gradient"><span>от</span> 34 500 Р</span></span>
  </a>
  <a href="#special3" class="b-special_item">
    <img class="b-special_item_image" src=<%=asset_path('special.jpg')%> alt="Мексика — Канкун, Отель BARCELO TUCANCUN 5 звезд" />
    <span class="b-special_item_name">Мексика — Канкун</span>
    <span class="b-special_item_stars"><i class="b-special_item_stars_3"></i></span>
    <span class="b-special_item_hotel">BARCELO TUCANCUN</span>
    <span class="b-special_item_price"><span class="b-i-special_item_price g-gradient"><span>от</span> 34 500 Р</span></span>
  </a>
  <a href="#special4" class="b-special_item b-special_item_last">
    <img class="b-special_item_image" src=<%=asset_path('special.jpg')%> alt="Мексика — Канкун, Отель BARCELO TUCANCUN 5 звезд" />
    <span class="b-special_item_name">Мексика — Канкун</span>
    <span class="b-special_item_stars"><i class="b-special_item_stars_2"></i></span>
    <span class="b-special_item_hotel">BARCELO TUCANCUN</span>
    <span class="b-special_item_price"><span class="b-i-special_item_price g-gradient"><span>от</span> 34 500 Р</span></span>
  </a>
</div>



<div class="b-popup" style="display: none;">
  <div class="b-popup_content">
    <div class="b-popup_content_date">14 июля 2012</div>
    <div class="b-popup_content_date_caption">с расчетом ± 3 дня</div>
    <form class="b-popup_content_form" method="get" action="<%=search_path%>">
      <div class="b-popup_content_form_fieldset">
        <span class="b-formfield b-popup_content_form_from">
          <span class="b-formfield_select">
            <select name="cityId">
              <%City.all.each do |c|%>
                <option value="<%=c.id%>"><%=c.name%></option>
              <%end%>
            </select>
            <span class="b-formfield_select_content"></span>
            <span class="b-formfield_select_icon"><i></i></span>
          </span>
        </span>
        <i class="b-popup_content_form_direction"></i>
        <span class="b-formfield b-popup_content_form_to">
          <span class="b-formfield_select">
            <select name="countryId">
              <%Country.all.each do |c|%>
                <option value="<%=c.id%>"><%=c.name%></option>
              <%end%>
            </select>
            <span class="b-formfield_select_content"></span>
            <span class="b-formfield_select_icon"><i></i></span>
          </span>
        </span>
      </div>
      <div class="b-popup_content_form_fieldset">
        <label>на <span class="b-formfield b-popup_content_form_days_field"><input class="b-popup_content_form_days js-field_count" type="text" maxlength="2" value="10" name="nightsMin" id="nightsMin" /></span> дней</label>
        <input type="hidden" name="nightsMax" value="10" id="nightsMax">
        <label class="b-popup_content_form_adult_label"><span class="b-formfield"><input class="b-popup_content_form_adult js-field_count" type="text" maxlength="1" value="2" name="adult" /></span> взрослых</label>
        <label><span class="b-formfield"><input class="b-popup_content_form_kid js-field_count" type="text" maxlength="1" value="0" name="child" /></span> детей</label>
      </div>
      <div class="b-popup_content_form_fieldset b-popup_content_form_fieldset_center">
        <a onclick="$(this).closest('form').submit();return false;" href="#" class="b-popup_content_form_submit"><span>Найти тур</span><i></i><u></u></a>
      </div>
      <input type="hidden" name="before" id="date-before">
      <input type="hidden" name="after" id="date-after">
      <input type="hidden" name="textDate" id="date-text">
      <%@default_params.each do |key,val|%>
        <input type="hidden" name="<%=key%>" value="<%=val%>">
      <%end%>
    </form>
  </div>
  <a href="#" class="b-popup_close"><u></u><i></i></a>
</div>

<%content_for :bottom_content do%>
<div class="l-content b-about_content">
  <div class="b-about_fotorama">
    <img src=<%=asset_path('bg_about.jpg')%> alt="" />
    <img src=<%=asset_path('bg_1920.jpg')%> alt="" />
    <img src=<%=asset_path('bg_about.jpg')%> alt="" />
  </div>
  <div class="l-i-content">
    <div class="b-about">
      <h2>О компании</h2>
      <p>Предлагаем для Вас туры в&nbsp;любые точки планеты, пляжный отдых, экстремальные путешествия, рыбалка и многое-многое другое. Розовый Марлин сделает ваше путешествие незабываемым. Наша работа&nbsp;&mdash; создавать эмоции! А это мы умеем и любим больше всего.</p>
      <p><a class="b-about_more" href="#">Узнать больше</a></p>
      
      <ul class="b-about_gallery">
        <li class="b-about_gallery_item b-about_gallery_item_selected"><a href="#" rel="0"><img src=<%=asset_path('bg_about_preview.jpg')%> alt="" /></a><i></i></li>
        <li class="b-about_gallery_item"><a href="#" rel="1"><img src=<%=asset_path('bg_about_preview.jpg')%> alt="" /></a><i></i></li>
        <li class="b-about_gallery_item"><a href="#" rel="2"><img src=<%=asset_path('bg_about_preview.jpg')%> alt="" /></a><i></i></li>
      </ul>
    </div>
  </div>
</div>
<%end%>