<div class="b-search">
	<div class="b-search_form">
		<form class="b-search_form_set" action="" method="post">
			<span class="b-formfield b-popup_content_form_from">
				<span class="b-formfield_select">
					<select name="cityId">
					  <%City.all.each do |c|%>
		                <option value="<%=c.id%>" <%=c.id == params[:cityId].to_i ? 'selected="selected"'.html_safe : ''%>><%=c.name%></option>
		              <%end%>
					</select>
					<span class="b-formfield_select_content"></span>
					<span class="b-formfield_select_icon"><i></i></span>
				</span>
			</span>
			<i class="b-popup_content_form_direction"></i>
			<span class="b-formfield b-popup_content_form_to">
				<span class="b-formfield_select">
					<select name="countryId">
					  <%Country.all.each do |c|%>
		                <option value="<%=c.id%>" <%=c.id.to_i == params[:countryId].to_i ? 'selected="selected"' : ''%>><%=c.name%></option>
		              <%end%>
					</select>
					<span class="b-formfield_select_content"></span>
					<span class="b-formfield_select_icon"><i></i></span>
				</span>
			</span>
			
			<label>вылет <span class="b-formfield b-popup_content_form_date_field"><input class="b-popup_content_form_date"  id="date-text" type="text" value="<%=params[:textDate]%>" name="textDate" /></span></label>
			<input type="hidden" name="before" id="date-before" value="<%=params[:before]%>">
		    <input type="hidden" name="after" id="date-after"  value="<%=params[:after]%>">
			<label>на <span class="b-formfield b-popup_content_form_days_field"><input class="b-popup_content_form_days js-field_count" type="text" maxlength="2" name="nightsMin" value="<%=params[:nightsMin]%>" id="nightsMin" data-numbering-to="#fly-to-days" data-words='["день","дня","дней"]'/></span> <span id="fly-to-days">дней</span></label>
			<input type="hidden" name="nightsMax" value="<%=params[:nightsMax]%>" id="nightsMax">
			<label><span class="b-formfield"><input class="b-popup_content_form_adult js-field_count" type="text" maxlength="1" value="<%=params[:adult]%>" name="adult" data-numbering-to="#fly-to-adult" data-words='["взрослый","взрослых","взрослых"]'/></span> <span id="fly-to-adult">взрослых</span></label>
			<label><span class="b-formfield"><input class="b-popup_content_form_kid js-field_count" type="text" maxlength="1" value="<%=params[:child]%>" name="child" data-numbering-to="#fly-to-childs" data-words='["ребенок","ребенка","детей"]'/></span> <span id="fly-to-childs">детей</span></label>
			
			<%@default_params.each do |key,val|%>
	          <input type="hidden" name="<%=key%>" value="<%=val%>">
	        <%end%>
			<div class="b-search_form_set_buttons">
				<a onclick="$(this).closest('form').submit();return false;" href="#" class="b-search_form_set_submit g-gradient"><span>Найти туры</span><i></i><u></u></a>
				<a href="#" class="b-search_form_set_cancel">Отменить</a>
			</div>
		</form>
		
		<div class="b-search_form_direction">
			<div class="b-search_form_direction_item b-search_form_direction_item_flight">
				<%=@city%> — <%=@country%>, <%=params[:textDate]%>
				<i class="b-search_form_direction_item_icon"></i>
			</div>
			<div class="b-search_form_direction_item b-search_form_direction_item_days">
				<%=params[:nightsMin].to_i.word %w(день дня дней)%>
				<i class="b-search_form_direction_item_icon"></i>
			</div>
			<div class="b-search_form_direction_item b-search_form_direction_item_persons">
				<%=@count.word %w(турист туриста туристов)%>
				<i class="b-search_form_direction_item_icon"></i>
			</div>
			<div class="b-search_form_direction_edit">
				<a href="#" class="b-search_form_direction_edit_button">изменить</a>
			</div>
		</div>
		
		<div class="b-search_form_filters">
			<dl class="b-search_form_filters_item">
				<dt>Стоимость</dt>
				<dd>
					<span class="b-formfield b-search_form_filters_price b-search_form_filters_price_start"><input type="text" value="10000" name="price_start" id="filter-price-start"/></span>
					&mdash;
					<span class="b-formfield b-search_form_filters_price b-search_form_filters_price_end"><input type="text" value="<%=params[:adult].to_i+params[:child].to_i <= 2 ? '80000' : '100000'%>" name="price_end" id="filter-price-end"/></span>
					
					<div class="b-search_form_filters_price_range"></div>
				</dd>
				
			</dl>
			<dl class="b-search_form_filters_item">
				<dt>Звездность</dt>
				<dd class="b-search_form_filters_item_stars"> 
					<span class="b-search_form_filters_stars b-search_form_filters_stars_start" value="1" id="filter-stars-from"><i class="b-search_form_filters_stars_1"></i></span>
					&mdash;
					<span class="b-search_form_filters_stars b-search_form_filters_stars_end" value="5" id="filter-stars-to"><i class="b-search_form_filters_stars_5"></i></span>
				</dd>
			</dl>
			<dl class="b-search_form_filters_item">
				<dt>Тип питания</dt>
				<dd>
					<span class="b-formfield b-search_form_filters_food">
						<span class="b-formfield_select">
							<select id="filter-food">
								<option value="">Все возможные</option>
							</select>
							<span class="b-formfield_select_content"></span>
							<span class="b-formfield_select_icon"><i></i></span>
						</span>
					</span>
				</dd>
			</dl>
			<div class="clear"></div>
		</div>
	</div>
	<div class="b-search_result">
		<div class="b-search_result_header">
			<div class="b-search_result_col b-search_result_col1">Отель</div>
			<div class="b-search_result_col b-search_result_col2">Курорт</div>
			<div class="b-search_result_col b-search_result_col3">Дата заезда</div>
			<div class="b-search_result_col b-search_result_col4">Тип питания</div>
			<div class="b-search_result_col b-search_result_col5">Стоимость</div>
		</div>
		
		<div class="b-search_result_list" id="results">
		</div>
		
		<div class="b-search_result_item_form">
			<div class="b-search_result_item_form_top"><a></a><b></b><i></i><u></u><s></s></div>
			<form class="b-search_result_item_form_content b-card" id="reserve-form">
				<div class="b-card_header" id="form-tourists-data">Информация о туристах</div>
				<div class="b-card_header">Билеты на самолет</div>
				<div class="b-card_flight_data">
					<div class="b-card_flight_data_block b-card_flight_data_first">
						<span class="b-card_flight_data_caption">туда</span>
					</div>
					<div class="b-card_flight_data_block b-card_flight_data_second">
						<span class="b-card_flight_data_caption">обратно</span>
						
					</div>
				</div>
				<div class="b-card_summary">
					<a onclick="$(this).closest('form').submit();return false;" href="#" class="b-card_summary_submit g-gradient"><span>Забронировать тур</span><i></i><u></u></a>
					<div class="b-card_summary_notice">После отправки данных наш менеджер проверит актуальность предложения, забронирует тур и свяжется с вами. Оплатить вы сможете наличными у нас в офисе или курьеру.</div>
					<div class="b-card_summary_credit">Скоро можно будет оплатить кредитной картой<i class="b-card_summary_credit_icon"></i></div>
				</div>
			</form>
			<div class="b-search_result_item_form_bottom"><a></a><b></b><i></i><u></u><s></s></div>
		</div>
		
		<a href="#" class="b-search_result_more" id="more">Показать еще 10 туров</a>
	</div>
</div>

<script type="text/javascript">
$(function(){
	var accommodations = <%=@accommodations.to_json.html_safe%>;
	var params = <%=params.to_json.html_safe%>;
	//select accomodation id
	$.each(accommodations,function(i,e){
		if (e.child == params.child && e.adult == params.adult) {
			params.accommodationId = e.accommodationId;
		}
	});
	
	$("#more").click(function(){
		searcher.filter.next();
		return false;
	});

	var searcher = new Searcher(params);
	formCreator.count = parseInt(params.adult)+parseInt(params.child);
});
</script>