<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Title</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="desctiption" content="" />

  <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
  <%=csrf_meta_tag%>
  <%=javascript_include_tag 'application'%>
  <%=stylesheet_link_tag 'application'%>
  
  <!--[if gte IE 9]>
    <style type="text/css">
  .g-gradient {filter: none;}
  </style>
  <![endif]-->
</head>
<!--[if lt IE 7 ]><body class="ie6"><![endif]-->
<!--[if IE 7 ]>   <body class="ie7"><![endif]-->
<!--[if IE 8 ]>   <body class="ie8"><![endif]-->
<!--[if IE 9 ]>   <body class="ie9"><![endif]-->
<!--[if gt IE 9]> <body>            <![endif]-->
<!--[if !IE]><!--><body>        <!--<![endif]-->
  <div class="l-wrapper">
    <div class="l-container">
      
      <div class="l-content">
        <div class="l-i-content">
          <h1 class="b-header">
            <a href="#5" class="b-logo"><span class="b-logo_alt">Розовый Марлин</span></a> Интернет-магазин путешествий
          </h1>
          <%=yield%>
        </div>
      </div>
      
      <div class="l-header g-gradient">
        <div class="l-i-header">
          <ul class="b-mainmenu">
            <li class="b-mainmenu_item b-mainmenu_item_selected">Главная<i class="b-mainmenu_item_selected_tail"></i></li>
            <li class="b-mainmenu_item"><a href="#1">Туристам</a></li>
            <li class="b-mainmenu_item"><a href="#2">О компании</a></li>
            <li class="b-mainmenu_item"><a href="#3">Блог</a></li>
            <li class="b-mainmenu_item"><a href="#4">Контактная информация</a></li>
          </ul>
          <div class="b-contactphone">
            <span class="b-contactphone_prefix">Бесплатно по России</span> 8-800-300-30-30
          </div>
        </div>
      </div>
      
      <%=yield :bottom_content%>
      
      <div class="l-ghost"></div>
    </div>
    <div class="l-footer">
      <div class="l-i-footer">
        <div class="b-links">
          <a href="#" class="b-twitter">
            <i class="b-twitter_icon"></i>Вы первым узнаете о&nbsp;наших записях в&nbsp;блоге, акциях и просто интересных событиях.
          </a>
          <a href="#" class="b-blog">
            <i class="b-blog_icon"></i>Читайте самый интересные статьи о&nbsp;путешествиях в нашем блоге
          </a>
          <a class="b-googleplay" href="#"></a>
          <a class="b-appstore" href="#"></a>
        </div>
        
        <div class="b-copyrights">
          © 2011 Розовый Марлин. Туристическое агентство. Персональные туры. Все права защищены. <br /> 
          ООО «Розовый Марлин», регистрационный номер РН100290
        </div>
      </div>
    </div>
  </div>
</body>
</html>